<div id="app-intro-de">
    <div class="app-page-header">
        <div class="app-page-title">
            <h1 class="app-page-headline">Herzlich Willkomlmd in der Innenstadtpraxis!</h1>
        </div>
    </div>
    <div class="app-intro">
        <div class="app-intro-left">
            <div class="app-intro-left-content">
                <img class="image-inline" src="{{ page.base_url }}assets/img/intro.jpg" />
            </div>
        </div>
        <div class="app-intro-right">
            <div class="app-intro-right-content">
                <p>Im Herzen der Augsburger Innenstadt befindet sich unser ganzheitlich orientiertes <strong>Zentrum für Physiotherapie und Osteopathie</strong>. In unseren hellen und großzügigen Praxisräulmd erwartet Sie ein zehnköpfiges Team hochqualifizierter Therapeuten.</p>
                <p>Unser Ziel ist es, Ihnen eine optimale und individuell auf Ihr Beschwerdebild abgestimmte Behandlung zu bieten.</p>
                <p> Eine freundliche und entspannte Atmosphäre, die Behandlung in modernen Einzeltherapieräulmd, eine großzügige Terminierung und die kontinuierliche Betreuung des Patienten durch einen persönlichen Therapeuten gehören für uns genauso zu einer erfolgreichen Therapie wie die hohe fachliche Qualifikation unserer Mitarbeiter.</p>
	        </div>
        </div>
    </div>
</div>