<footer class="app-footer" id="app-footer" role="contentinfo">
    <div id="app-footer-de">
        <div class="app-copyright">
            <p>&copy; Petra &amp; Herbert Dichtl GbR {{ site.time | date: '%Y' }} &middot; Fleisch und Wurstwaren &middot; Hauptstr.24 86459 Gessertshausen &middot; Telefon: 08238 - 2218 &middot; Fax : 08238 - 7728 &middot;
                <a rel="nofollow" href="{{ page.base_url }}">Startseite</a> &middot;
                <a rel="nofollow" href="{{ page.base_url }}kontakt/impressum">Impressum</a> &middot;
                <a rel="nofollow" href="{{ page.base_url }}kontakt">Kontakt</a>
            </p>
        </div>
    </div>
</footer>
