<footer class="app-footer" id="app-footer" role="contentinfo">
    <div id="app-footer-de">
        <div class="app-copyright">
            <p>&copy; Maren Endrass {{ site.time | date: '%Y' }} &middot; Identifikation mit Ihrer Marke &middot;
                <a rel="nofollow" href="{{ page.base_url }}">Startseite</a> &middot;
                <a rel="nofollow" href="{{ page.base_url }}kontakt/impressum">Impressum</a> &middot;
                <a rel="nofollow" href="{{ page.base_url }}kontakt">Kontakt</a>
            </p>
        </div>
    </div>
</footer>
