<div class="app-card app-card-featured">
    <a class="app-card-main app-card-cover" href="{{ page.base_url }}visagistik">
        <div class="app-card-content">
            <div class="app-card-bg app-card-bg-02">
                &nbsp;
            </div>
            <div class="app-card-mask">
                <div class="app-card-caption">
                    <div class="app-card-caption-content">
                        <div class="app-card-caption-title">
                            Visagistik
                        </div>
                        <div class="app-card-caption-teaser">
                            Innere Schönheit muss man sehen
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

